body {
    text-align:center;
    background-color:lightcyan;
}
.menu {
    list-style-type: none;
    text-decoration: none;
    position: fixed;
    list-style: none;
    font-family: sans-serif;
    top: 0px;
    right: 5px;
    z-index: 10;
    cursor: pointer;
    background: #ffcfe3;
    width: 100%;
    margin-top: 0px;
}
#home {
    background: linear-gradient(#eeaeca 0%, #94bbe9 100%);
    background-repeat: no-repeat;
}
#name {
    font-size: 60px;
    line-height: 1.2;
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    color:crimson;
    text-shadow: 6px 6px #F8BBD0;
}
#img {
    width: 190px;
    margin-top: 50px;
    border-radius: 60%;
    border-style:solid;
    border-width:8px;
    border-color:blueviolet;
}
.line {
    height: 6px;
    background-color:black;
    width: 70px;
    margin: 8px auto;
}
#about {
    background-color:lightpink;
    padding:10px;
    font-size:26px;
    color: darkmagenta;
    font-weight:bold;
    text-align: center;
}
.link {
    float:center;
    color: blue;
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;
    display: inline;
    font-family: 'Kenia', cursive;
}

.link:hover {
    background-color:cyan;
    cursor: pointer;
    transform: scale(1.2)
}
.head {
  color:darkcyan;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
html {
    scroll-behavior:smooth;
}
a {
    font-size:30px;
    color:blue;   
}
h2 {
   font-size: 20px;
    font-family: serif;
}
#wood1 {
    width:600px;
    margin-top: 20px;
    border-style: solid;
    border-color:blue;
    border-width: thick;
}
#potter {
    margin-top: 20px;
    width:600px;
    border-style: solid;
    border-color:blue;
    border-width: thick;
}
#insp.1 {
    transition: transform .2s;
    border: 10px solid #ff0055;
}
img {
    transition: transform .2s;
    border: 10px solid #ff0055;
}
img:hover {
    transform: scale(0.9)
}
.contact1 a {
    color: blue;
    text-shadow: none;
}
.contact1 h3 {
    display: inline; 
}
.contact1 {
    list-style-type: none;
    text-decoration: none;
    position: fixed;
    list-style: none;
    font-family: sans-serif;
    bottom: 0px;
    right: 5px;
    z-index: 10;
    cursor: pointer;
    background: #ffcfe3;
    width: 100%;
    margin-top: 0px;
}
